$primary-yelow: #ffc74b
@import changeLocation
.widget-container
	font-family: "Arial", sans-serif
	max-width: 300px
	min-width: 210px
	background-color: $primary-yelow
	border: none
	border-radius: 20px
	padding: 0
	margin: 0
	position: relative
	.city-name, .other-info
		padding: 10px 20px
	.other-info
		display: flex
		justify-content: space-around
	.main-presentation
		background-color: white
		width: 98%
		margin: 0 auto
		border: none
		display: flex
		align-items: center
		justify-content: space-around
		.temperature>
			p
				font-size: 1.6em
				font-weight: bold
				span
					text-align: right

