$primary-yelow: #ffc74b
$secondary-white: #ffffff;
@import changeLocation
.widget-container
	font-family: "Arial", sans-serif
	max-width: 300px
	min-width: 210px
	background-color: $primary-yelow
	border: none
	border-radius: 20px
	padding: 0
	margin: 0
	position: relative
	.header, .other-info
		padding: 10px 20px
	.other-info, .main-presentation
		display: flex
		justify-content: space-around
	.main-presentation
		background-color: $secondary-white
		width: 98%
		margin: 0 auto
		border: none
		align-items: center
		.temperature>
			p
				font-size: 1.6em
				font-weight: bold

